dotenv
fastapi
langchain
langchain-community
langchain-core
langchain-experimental
langchain-aws
langchain-postgres
langgraph
langgraph-checkpoint-postgres
lifelines
matplotlib
pandas
psycopg[binary,pool]
pydantic
python-dotenv
requests
scipy
seaborn
statsmodels
sqlalchemy
uvicorn