dotenv
fastapi[standard]
fastapi-mail
itsdangerous
langchain
langchain-community
langchain-core
langchain-experimental
langchain-aws
langchain-mistralai
langchain-openai
langchain-postgres
langgraph
langgraph-checkpoint-postgres
lifelines
matplotlib
pandas
psycopg[binary,pool]
pydantic
python-dotenv
pwdlib[argon2]
pyjwt[crypto]
requests
scipy
seaborn
statsmodels
sqlalchemy
uvicorn