<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
  <title>MyeGPT</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="manifest" href="/static/site.webmanifest">  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
</head>
<body>
  <div class="command-tray">
    <div class="client-info">
      <div class="default-visible">
        <div id="username-display"><img id="user-icon" src="/static/favicon-32x32.png"><span>[username]</span></div>
        <div id="model-id-display"><img id="llm-icon" src="/static/llm-icon.png"><span>[chat_model]</span></div>
      </div>
      <div class="default-hidden">
        <div id="embeddings-model-id-display" hidden="true">[embedding_model]</div>
        <div id="email-display" hidden="true">[email]</div>
      </div>
    </div>
    <div class="command-buttons">
      <button id="delete-account-button" onclick="window.appControls.deleteAccount();">Delete account</button>
      <button id="erase-memory-button" onclick="window.appControls.eraseMemory();">Erase memory</button>
      <button id="fix-history-button" onclick="window.appControls.fixHistory();">Repair AI</button>
      <button id="check-usage" onclick="window.appControls.checkUsage();">Usage cost</button>
      <button id="logout-button" onclick="window.appControls.logOut();">Log Out</button>
    </div>
  </div>
  <div id="trace-container">
    <div id="trace-contents" hidden="true">
      <!-- to be inserted by chat.js -->
    </div>
  </div>
  <div id="chat-history">
    <!-- to be inserted by chat.js -->
  </div>
  <div id="chat-input-container">
    <textarea id="chat-input" placeholder="Ask anything related to the CoMMpass dataset"></textarea>
    <button id="send-button">
      <span id="send-icon">↑</span>
    </button>
  </div>
  <script type="module">
    import * as appControls from '/scripts/controls.js';
    window.appControls = appControls;
  </script>
  <script type="module" src="/scripts/chat.js"></script>
  <script src="/scripts/mobile.js"></script>
  <script src="/scripts/hiddeninfo.js"></script>
</body>
</html>
