<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
  <title>MyeGPT</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="manifest" href="/static/site.webmanifest">  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
</head>
<body>
  <header class="header">
    <h1>MyeGPT</h1>
  </header>
  <div class="command-tray">
    <div class="client-info">
      <div id="username-display">👤 [username]</div>
      <div id="email-display" hidden="true">📤 [email]</div>
      <div id="ipaddress-display" hidden="true"">🌐 [ip_address]</div>
    </div>
    <div class="command-buttons">
      <button id="erase-memory-button" onclick="alert('Coming soon')">🧠 Erase memory</button>
      <button id="clear-convo-button" onclick="alert('Coming soon')">💬 Clear chat</button>
      <button id="notifications-button">🔔 Disabled</button>
      <button id="logout-button" onclick="if(confirm('Are you sure you want to log out?\nChat history will be cleared, although memory of the conversations will remain.')) { document.cookie = 'access_token=; Max-Age=0; path=/;'; window.location.href = '/'; }">🚪 Log Out</button>
      <button id="toggle-trace" hidden="true" onclick="toggleTracePanel()">📜 Fine-grained</button>
    </div>
  </div>
  <div id="trace-container">
    <div id="trace-contents" hidden="true">Contents of trace</div>
  </div>
  <div class="chat-history"></div>
  <div class="chat-input-container">
    <textarea class="chat-input" placeholder="Ask anything related to the CoMMpass dataset"></textarea>
    <button class="send-button">
      <span class="icon">↑</span>
    </button>
  </div>
  <script src="/static/app.js"></script>
  <script src="/static/trace.js"></script>
  <script src="/static/notifications.js"></script>
  <script src="/static/ipaddress.js"></script>
</body>
</html>
