<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
  <title>MyeGPT</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="manifest" href="/static/site.webmanifest">  
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
</head>
<body>
  <header class="header">
    <div class="session-info">
      <div class="client-info">
        <div id="username-display">👤 [username]</div>
        <div id="ipaddress-display">🌐 [ip_address]</div>
      </div>
      <div class="command-buttons">
        <button id="clear-history-button" onclick="alert('Not implemented yet')">🗑️ Erase memory ⚠️⚠️</button>
        <button id="clear-history-button" onclick="alert('Not implemented yet')">🗑️ Clear convo ⚠️</button>
        <button id="logout-button" onclick="if(confirm('Are you sure you want to log out?\nChat history will be cleared, although memory of the conversations will remain.')) { document.cookie = 'access_token=; Max-Age=0; path=/;'; window.location.href = '/'; }">🚪 Log Out</button>
      </div>
    </div>
    <div class="logo-and-title">
      <img src="/static/android-chrome-192x192.png" alt="favicon">
      <h1>MyeGPT</h1>
    </div>
  </header>
  <div class="chat-history"></div>
  <div class="chat-input-container">
    <textarea class="chat-input" placeholder="Ask anything related to the CoMMpass dataset"></textarea>
    <button class="send-button">
      <span class="icon">↑</span>
    </button>
  </div>
  <script src="/static/app.js"></script>
</body>
</html>
