<script>

    /**
     * Triggered upon user clicking of email verification link 
     * with a simple message to inform user of successful verification
     * and impending redirection to the login page.
     */
    document.addEventListener("DOMContentLoaded", () => {{
        const legend = document.querySelector("legend");
        if (legend) {{
            legend.innerHTML = `<strong>Verification successful!</strong>`;
        }}
        const message = document.querySelector("label");
        if (message) {{
            let countdown = 3;
            message.innerHTML = `Email verified!<br>Redirecting to login (${countdown}s)...`;
            
            const timer = setInterval(() => {{
                countdown--;
                message.innerHTML = `Email verified!<br>Redirecting to login (${countdown}s)...`;
                if (countdown <= 0) {{
                    clearInterval(timer);
                }}
            }}, 1000);
        }}
    }});
    
</script>